body {
    background-image: url(img/sunset-silhouettes-trees-mountains-generative-ai_169016-29371.avif);
    background-size: cover;
}

.container-navbar {
    background-color: #333;
    width: 100%;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: tomato;
    border-radius: 8px;
    transition: .5s ease-in-out;
    transition-delay: .3s;
}