<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP SERVER</title>
</head>

<style>

body {
    background-color: tomato;
    height: 100vh;
    width: 100vw;
}

.back {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.domain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>

<body>
    <li class="back">
        <a href="../index.html">◀️BACK</a>
    </li>
    <h1 class="ip">IP: 152.42.212.239:7777</h1>
        <h2 class="domain"> DOMAIN: play.adrp.my.id:7777</h2>
            <h3 class="footer"> pilih salah satu diatas, keduanya sama aja, tpi jika ingin ip yg awet dan jarang ganti pilih domain saja</h3>
</body>
</html>